/*TodoButton.js tiene el export*/

button {
    width: 64px;
    height: 64px;
    border-radius: 75px;
    background-image: url(./icon/add.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    position: fixed;
    bottom: 24px;
    right: 24px;
}
